<mat-toolbar color="primary">
  <div fxFlex fxLayoutGap="25px">
    <a routerLink="/currency-converter">
      Currency Converter
    </a>
    <a class="exchange-link" routerLink="/exchange-rates">Browse currency exchange rates</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a routerLink="/about">
          <span class="label">About</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
