<mat-card *ngIf="result">
  <div fxLayout="row" fxLayoutAlign="center">
    <h3>{{ amount }} {{ fromCurrency | uppercase }} = {{ result | number: '1.5-5' }}
      {{ toCurrency | uppercase }}
    </h3>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <p>
      1 {{ fromCurrency | uppercase }}
      =
      {{ (+toRate / +fromRate) | number: '1.5-5' }} {{ toCurrency | uppercase }}
    </p>
    <p>
      1 {{ toCurrency | uppercase }} = {{ (+fromRate / +toRate) | number: '1.5-5' }}
      {{ fromCurrency | uppercase }}
    </p>
  </div>
</mat-card>
